<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="edu.northeastern.numad22fa_mrp">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />

            <data android:scheme="http" />
        </intent>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
        <intent>
            <action android:name="android.intent.action.GET_CONTENT" />
        </intent>
    </queries>
    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />

            <category android:name="android.intent.category.BROWSABLE" />

            <data android:scheme="https" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_35"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_35_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NUMAD22Fa_MRP"
        tools:targetApi="31">
        <activity
            android:name=".nextrent.PickGroupActivity"
            android:exported="false" />
        <activity
            android:name=".nextrent.GroupCreateActivity"
            android:exported="false" />
        <activity
            android:name=".nextrent.CommentActivity"
            android:exported="false" />
        <activity
            android:name=".nextrent.AllMembersActivity"
            android:exported="false" />
        <activity
            android:name=".nextrent.GroupActivity"
            android:exported="false" />
        <activity
            android:name=".nextrent.UserAvatarActivity"
            android:exported="false" />
        <activity
            android:name=".nextrent.PropDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ContactOwner"
            android:exported="false" />
        <activity
            android:name=".PropertyContentsSeeker"
            android:exported="false" />
        <activity
            android:name=".PropertyContents"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAstRLiJWR9LOpxICg2CdXkGFbTZSV41BA" />

        <activity
            android:name=".nextrent.ChatActivity"
            android:exported="false" />
        <activity
            android:name=".nextrent.FavoritesActivity"
            android:exported="false" />
        <activity
            android:name=".nextrent.SeekerProfileActivity"
            android:exported="false" />
        <activity
            android:name=".nextrent.BasicQuestionsActivity"
            android:exported="false" />
        <activity
            android:name=".nextrent.HouseQuestionsActivity"
            android:exported="false" />
        <activity
            android:name=".MainScreen"
            android:exported="false" />
        <activity
            android:name=".AddPropertyAddress"
            android:exported="false" />
        <activity
            android:name=".PropertyEditDetails"
            android:exported="false" />
        <activity
            android:name=".PropertyList"
            android:exported="false" />
        <activity
            android:name=".AddProperty"
            android:exported="false" />
        <activity
            android:name=".OwnerHomePage"
            android:exported="false" />
        <activity
            android:name=".OwnerLogin"
            android:exported="false" />
        <activity
            android:name=".OwnerRegister"
            android:exported="false" />
        <activity
            android:name=".nextrent.SeekerSurveyActivity"
            android:exported="false" />
        <activity
            android:name=".nextrent.AddNewProperty"
            android:exported="false" />
        <activity
            android:name=".nextrent.PropertyManagerActivity"
            android:exported="false" />
        <activity
            android:name=".nextrent.PropertySeekerActivity"
            android:exported="false" />
        <activity
            android:name=".AboutAppActivity"
            android:exported="false" />
        <activity
            android:name=".UserProfileActivity"
            android:exported="false" />
        <activity
            android:name=".MessageActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".AllUsersActivity"
            android:exported="false" />
        <activity
            android:name=".WeatherActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".WeatherCustomLocation"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".nextrent.FinalProject"
            android:exported="false" />
        <activity
            android:name=".StickItToEm"
            android:exported="false" />
        <activity
            android:name=".AtYourService"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".ViewLocation"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="edu.northeastern.numad22fa_mrp.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>